p{
    font-size: x-large;
color: blue;
}
h1{
    font-size: 72px;
    color: blueviolet;
}
body{
    border: 20px;
}

.cont{
position: static;
text-align: center;
border-style: solid;
border-radius: 16px;
margin: 16px 16px;
background-color: aliceblue;
}

button{
margin-bottom: 12px;
}
